<h1>Remvoe tags for this stuff</h1>
<p>
  Stuff ref info:
  <%= @stuff.content %>
</p>

<p>
  Chcec what tag you want remove:
  <%= form_tag(remove_tags_act_stuff_path, method: 'delete') do %>
      <% @stuff.tags.each do |tag| %>
          <%= check_box_tag("stuff_tags[]",tag.id, false ,:id=>"stuff_tags_#{tag.id}") %>
          <%= label_tag tag.name %><br>
      <% end %>

      <%= submit_tag("Update") %>
  <% end %>

</p>
