<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @stuff.content %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @stuff.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stuff.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @stuff.user_id %>
</p>

<p>
  <strong>Tags:</strong>
  <% @stuff.tags.each do |tag| %>
   <%= tag.name %>
  <% end %>
  <span><%= link_to 'Remove', remove_tags_stuff_path %></span>
</p>
<%= link_to 'Add tag to this stuff',  add_tags_stuff_path %>
<%= link_to 'Move to other folder',  move_stuff_path  %>
<%= link_to 'Copy to other folder', copy_stuff_path %>

<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>

