<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @stuff.content %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @stuff.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stuff.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @stuff.user_id %>
</p>

<p>
  <strong>Tags:</strong>
  <% @stuff.tags.each do |tag| %>
   <%= tag.name %>
  <% end %>
</p>
<%= link_to 'Add tag to this stuff',  add_tag_stuff_path %>

<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>

