<h1>Listing binders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Status</th>
      <th>Stuffs count</th>
      <th>The type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @binders.each do |binder| %>
      <tr>
        <td><%= binder.name %></td>
        <td><%= binder.user_id %></td>
        <td><%= binder.status %></td>
        <td><%= binder.stuffs_count %></td>
        <td><%= binder.the_type %></td>
        <td><%= link_to 'Show', binder %></td>
        <td><%= link_to 'Edit', edit_binder_path(binder) %></td>
        <td><%= link_to 'Destroy', binder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Binder', new_binder_path %>
