<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @binder.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @binder.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @binder.status %>
</p>

<p>
  <strong>Stuffs count:</strong>
  <%= @binder.stuffs_count %>
</p>

<p>
  <strong>The type:</strong>
  <%= @binder.the_type %>
</p>

<%= link_to 'Edit', edit_binder_path(@binder) %> |
<%= link_to 'Back', binders_path %>
