<p id="notice"><%= notice %></p>


 <h2><i class="fa fa-tag"></i> <%= @tag.name %></h2>

<%= render partial: 'layouts/stuffs_table' %>



<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
